.grid {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.cell {
    width: 16px;
    aspect-ratio: 1;
    border: 1px solid black;
}
 .dead {
    background: black;
}